<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="microsoft.matrix">
            <section name="packages" type="Microsoft.Matrix.Core.Packages.PackageListSectionHandler, Microsoft.Matrix" />
            <section name="projects" type="Microsoft.Matrix.Core.Projects.ProjectFactoryListSectionHandler, Microsoft.Matrix" />
            <section name="documentLanguages" type="Microsoft.Matrix.Core.Documents.LanguageManagerSectionHandler, Microsoft.Matrix" />
            <section name="documentTypes" type="Microsoft.Matrix.Core.Documents.DocumentTypesSectionHandler, Microsoft.Matrix" />
            <section name="toolbox" type="Microsoft.Matrix.Core.Toolbox.ToolboxSectionHandler, Microsoft.Matrix" />
            <section name="addIns" type="Microsoft.Matrix.Core.Plugins.AddInListSectionHandler, Microsoft.Matrix" />
            <section name="webLinks" type="Microsoft.Matrix.Core.Application.WebLinksSectionHandler, Microsoft.Matrix" />
            <section name="classView" type="Microsoft.Matrix.Packages.ClassView.Projects.ClassViewSectionHandler, Microsoft.Matrix.Packages.ClassView" />
            <section name="dataObjectMappings" type="Microsoft.Matrix.Core.Services.DataObjectMappingSectionHandler, Microsoft.Matrix" />
            <section name="community" type="Microsoft.Matrix.Packages.Community.CommunitySectionHandler, Microsoft.Matrix.Packages.Community" />
        </sectionGroup>
    </configSections><startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="Packages;Plugins;Components" />
            <qualifyAssembly partialName="mscorlib" fullName="mscorlib, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
            <qualifyAssembly partialName="System" fullName="System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            <qualifyAssembly partialName="System.Data" fullName="System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            <qualifyAssembly partialName="System.Drawing" fullName="System.Drawing, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
            <qualifyAssembly partialName="System.Web" fullName="System.Web, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
            <qualifyAssembly partialName="System.Web.Mobile" fullName="System.Web.Mobile, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
            <qualifyAssembly partialName="System.Web.Services" fullName="System.Web.Services, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
            <qualifyAssembly partialName="System.Xml" fullName="System.Xml, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            <qualifyAssembly partialName="Microsoft.Matrix.Framework" fullName="Microsoft.Matrix.Framework, Version=0.6.0.0, Culture=neutral, PublicKeyToken=6f763c9966660626" />
        </assemblyBinding>
    </runtime>

    <appSettings>
        <add key="IDE.SendFeedbackServiceUrl" value="http://www.asp.net/matrix/services/SendFeedbackService.asmx" />
        <add key="IDE.ComponentGalleryServiceUrl" value="http://www.asp.net/matrix/services/ComponentGalleryService.asmx" />
        <add key="IDE.AskQuestionUrl" value="http://www.asp.net/WebMatrix/KeywordSearch.aspx?keyword={0}" />
    </appSettings>

    <microsoft.matrix>
        <packages>
            <add package="Web" type="Microsoft.Matrix.Packages.Web.WebPackage, Microsoft.Matrix.Packages.Web" />
            <add package="Data" type="Microsoft.Matrix.Packages.DBAdmin.DBAdminPackage, Microsoft.Matrix.Packages.DBAdmin" />
            <add package="ClassView" type="Microsoft.Matrix.Packages.ClassView.ClassViewPackage, Microsoft.Matrix.Packages.ClassView" />
            <add package="Community" type="Microsoft.Matrix.Packages.Community.CommunityPackage, Microsoft.Matrix.Packages.Community" />
        </packages>
        <projects>
            <add project="Microsoft.Matrix.Core.Projects.FileSystem.MyComputerProjectFactory, Microsoft.Matrix" />
            <add project="Microsoft.Matrix.Core.Projects.FileSystem.ShortcutProjectFactory, Microsoft.Matrix" />
            <add project="Microsoft.Matrix.Packages.Web.Projects.Ftp.FtpProjectFactory, Microsoft.Matrix.Packages.Web" />
            <add project="Microsoft.Matrix.Packages.ClassView.Projects.ClassViewProjectFactory, Microsoft.Matrix.Packages.ClassView" />
            <add project="Microsoft.Matrix.Packages.DBAdmin.Projects.Access.AccessProjectFactory, Microsoft.Matrix.Packages.DBAdmin" />
            <add project="Microsoft.Matrix.Packages.DBAdmin.Projects.Sql.SqlProjectFactory, Microsoft.Matrix.Packages.DBAdmin" />
        </projects>
        <documentLanguages>
            <add language="Microsoft.Matrix.Core.Documents.Text.TextDocumentLanguage, Microsoft.Matrix" />
            <add language="Microsoft.Matrix.Packages.Code.VisualBasic.VisualBasicCodeDocumentLanguage, Microsoft.Matrix" />
            <add language="Microsoft.Matrix.Packages.Code.CSharp.CSharpCodeDocumentLanguage, Microsoft.Matrix" />
            <add language="Microsoft.Matrix.Packages.Code.JSharp.JSharpCodeDocumentLanguage, Microsoft.Matrix" />
            <add language="Microsoft.Matrix.Packages.Web.Documents.HtmlDocumentLanguage, Microsoft.Matrix.Packages.Web" />
            <add language="Microsoft.Matrix.Packages.Web.Documents.WebFormsDocumentLanguage, Microsoft.Matrix.Packages.Web" />
            <add language="Microsoft.Matrix.Packages.Web.Documents.AspNetDocumentLanguage, Microsoft.Matrix.Packages.Web" />
        </documentLanguages>
        <documentTypes>
            <documentType extension="aspx" type="Microsoft.Matrix.Packages.Web.Documents.AspxDocumentFactory, Microsoft.Matrix.Packages.Web" />
            <documentType extension="ascx" type="Microsoft.Matrix.Packages.Web.Documents.AscxDocumentFactory, Microsoft.Matrix.Packages.Web" />

            <documentType extension="htm" type="Microsoft.Matrix.Packages.Web.Documents.HtmlDocumentFactory, Microsoft.Matrix.Packages.Web" />
            <aliasedDocumentType extension="html" mapsTo="htm" />

            <documentType extension="asmx" type="Microsoft.Matrix.Packages.Web.Documents.AsmxDocumentFactory, Microsoft.Matrix.Packages.Web" />

            <documentType extension="@code" type="Microsoft.Matrix.Core.Documents.Code.CodeDocumentFactory, Microsoft.Matrix" />
            <documentType extension="cs" type="Microsoft.Matrix.Packages.Code.CSharp.CSharpDocumentFactory, Microsoft.Matrix" />
            <documentType extension="vb" type="Microsoft.Matrix.Packages.Code.VisualBasic.VisualBasicDocumentFactory, Microsoft.Matrix" />
            <documentType extension="jsl" type="Microsoft.Matrix.Packages.Code.JSharp.JSharpDocumentFactory, Microsoft.Matrix" />

            <customDocumentType extension="css" baseType="Microsoft.Matrix.Core.Documents.Text.TextDocumentFactory, Microsoft.Matrix" name="Style Sheet" createNewDescription="Create a new cascading style sheet file." openFilter="CSS Files (*.css)|*.css" smallIcon="CSSFileSmall.ico" largeIcon="CSSFileLarge.ico" createUsingTemplate="true" templateFlags="None" />

            <customDocumentType extension="asax" baseType="Microsoft.Matrix.Core.Documents.Text.TextDocumentFactory, Microsoft.Matrix" name="Global.asax" createNewDescription="Create a new Global.asax file." openFilter="Global.asax Files (*.asax)|*.asax" smallIcon="AsaxFileSmall.ico" largeIcon="AsaxFileLarge.ico" createUsingTemplate="true" templateFlags="HasMacros, HasCode" templateInstanceName="Global" />

            <customDocumentType extension="config" baseType="Microsoft.Matrix.Core.Documents.Text.TextDocumentFactory, Microsoft.Matrix" name="Web.Config" createNewDescription="Create a new web configuration file." openFilter="Configuration Files (*.config)|*.config" smallIcon="WebConfigFileSmall.ico" largeIcon="WebConfigFileLarge.ico" createUsingTemplate="true" templateInstanceName="web" />

            <customDocumentType extension="xml" baseType="Microsoft.Matrix.Core.Documents.Text.TextDocumentFactory, Microsoft.Matrix" name="XML File" createNewDescription="Create a new XML file." openFilter="XML Files (*.xml)|*.xml" smallIcon="XMLFileSmall.ico" largeIcon="XMLFileLarge.ico" createUsingTemplate="true" templateFlags="None" />

            <customDocumentType extension="xslt" baseType="Microsoft.Matrix.Core.Documents.Text.TextDocumentFactory, Microsoft.Matrix" name="XSL Transform" createNewDescription="Create a new XSL Transform file." openFilter="XSL Transform Files (*.xslt,*.xsl)|*.xslt;*.xsl" smallIcon="XSLTFileSmall.ico" largeIcon="XSLTFileLarge.ico" createUsingTemplate="true" templateFlags="None" />

            <customDocumentType extension="xsd" baseType="Microsoft.Matrix.Core.Documents.Text.TextDocumentFactory, Microsoft.Matrix" name="XML Schema" createNewDescription="Create a new XML Schema file." openFilter="XML Schema Files (*.xsd)|*.xsd" smallIcon="XSDFileSmall.ico" largeIcon="XSDFileLarge.ico" createUsingTemplate="true" templateFlags="HasMacros" />

            <documentType extension="ashx" type="Microsoft.Matrix.Packages.Web.Documents.AshxDocumentFactory, Microsoft.Matrix.Packages.Web" />

            <documentType extension="txt" type="Microsoft.Matrix.Core.Documents.Text.TextDocumentFactory, Microsoft.Matrix" />

            <documentType extension="sql" type="Microsoft.Matrix.Packages.DBAdmin.Documents.SqlDocumentFactory, Microsoft.Matrix.Packages.DBAdmin" />
            <documentType extension="@dbtable" type="Microsoft.Matrix.Packages.DBAdmin.Documents.TableDocumentFactory, Microsoft.Matrix.Packages.DBAdmin" />
            <documentType extension="@dbsproc" type="Microsoft.Matrix.Packages.DBAdmin.Documents.StoredProcedureDocumentFactory, Microsoft.Matrix.Packages.DBAdmin" />

            <documentType extension="bmp" type="Microsoft.Matrix.Packages.Web.Documents.ImageDocumentFactory, Microsoft.Matrix.Packages.Web" />
            <aliasedDocumentType extension="gif" mapsTo="bmp" />
            <aliasedDocumentType extension="jpg" mapsTo="bmp" />
            <aliasedDocumentType extension="jpeg" mapsTo="bmp" />
            <aliasedDocumentType extension="png" mapsTo="bmp" />
            <aliasedDocumentType extension="tiff" mapsTo="bmp" />
            <aliasedDocumentType extension="tif" mapsTo="bmp" />

            <documentType extension="@type" type="Microsoft.Matrix.Packages.ClassView.Documents.TypeDocumentFactory, Microsoft.Matrix.Packages.ClassView" />

            <!-- Start Web Service Templates -->
            <templateDocumentType extension="asmx" templateCategory="Web Services" name="Simple" createNewDescription="A simple Web Service." />

            <templateDocumentType extension="asmx" templateCategory="Web Services" name="SOAP Headers" createNewDescription="Web Service with SOAP Headers." />

            <templateDocumentType extension="asmx" templateCategory="Web Services" name="Custom Class" createNewDescription="Serialize a custom class." />

            <templateDocumentType extension="asmx" templateCategory="Web Services" name="Output Caching" createNewDescription="Output Cache Web Services." />
            <!-- End Web Service Templates -->

            <!-- Start Security Templates -->
            <templateDocumentType extension="aspx" templateCategory="Security" name="Login Page" createNewDescription="Login page for Forms Based Authentication." />

            <templateDocumentType extension="aspx" templateCategory="Security" name="Logout Page" createNewDescription="Logout page for Forms Based Authentication." />

            <templateDocumentType extension="config" templateCategory="Security" name="Config File" createNewDescription="Configuration file to enable Forms Authentication." />
            <!-- End Security Templates -->

            <!-- Start Output Caching Templates -->
            <templateDocumentType extension="aspx" templateCategory="Output Caching" name="Vary By None" createNewDescription="Simple output cached page that does not vary by anything." />

            <templateDocumentType extension="aspx" templateCategory="Output Caching" name="Vary Cache By Browser" createNewDescription="Output cached page that varies by browser type and major version." />

            <templateDocumentType extension="aspx" templateCategory="Output Caching" name="Vary Cache By Headers" createNewDescription="Output cached page that varies by HTTP headers." />

            <templateDocumentType extension="aspx" templateCategory="Output Caching" name="Vary Cache By Parameters" createNewDescription="Output cached page that varies by HTTP GET/POST parameters." />
            <!-- End Output Caching Templates -->

            <!-- Start Data Templates -->
            <templateDocumentType extension="aspx" templateCategory="Data Pages" name="Simple Data Report" createNewDescription="Display a simple data report in a DataGrid." />

            <templateDocumentType extension="aspx" templateCategory="Data Pages" name="Filtered Data Report" createNewDescription="Display a filtered view of read-only data in a DataGrid." />

            <templateDocumentType extension="aspx" templateCategory="Data Pages" name="Data Report with Paging" createNewDescription="Display and page through read-only data in a DataGrid." />

            <templateDocumentType extension="aspx" templateCategory="Data Pages" name="Data Report with Paging and Sorting" createNewDescription="Display, sort, and page through read-only data in a DataGrid." />

            <templateDocumentType extension="aspx" templateCategory="Data Pages" name="Master - Detail Grids" createNewDescription="Select a row in a DataGrid, and display details data in a second grid." />

            <templateDocumentType extension="aspx" templateCategory="Data Pages" name="Editable Data Grid" createNewDescription="Edit, Add, and Delete Records in a DataGrid." />

            <templateDocumentType extension="aspx" templateCategory="Data Pages" name="Simple Stored Procedure" createNewDescription="Simple stored procedure using an input parameter." />
            <!-- End Data Templates -->

            <!-- Start Mobile Templates -->
            <templateDocumentType extension="aspx" templateCategory="Mobile Pages" name="Mobile Page" createNewDescription="A basic Mobile Page." />

            <templateDocumentType extension="ascx" templateCategory="Mobile Pages" name="Mobile UserControl" createNewDescription="A basic Mobile UserControl." />
            <!-- End Mobile Templates -->
        </documentTypes>
        <toolbox>
            <toolboxSection name="HTML Elements" type="Microsoft.Matrix.Packages.Web.Designer.HtmlElementToolboxSection, Microsoft.Matrix.Packages.Web">
                <toolboxItem data="!Microsoft.Matrix.Packages.Web.Html.Elements.LabelElement, Microsoft.Matrix.Packages.Web" />
                <toolboxItem data="!Microsoft.Matrix.Packages.Web.Html.Elements.InputTextElement, Microsoft.Matrix.Packages.Web" />
                <toolboxItem data="!Microsoft.Matrix.Packages.Web.Html.Elements.TextAreaElement, Microsoft.Matrix.Packages.Web" />
                <toolboxItem data="!Microsoft.Matrix.Packages.Web.Html.Elements.InputPasswordElement, Microsoft.Matrix.Packages.Web" />
                <toolboxItem data="!Microsoft.Matrix.Packages.Web.Html.Elements.InputButtonElement, Microsoft.Matrix.Packages.Web" />
                <toolboxItem data="!Microsoft.Matrix.Packages.Web.Html.Elements.InputSubmitElement, Microsoft.Matrix.Packages.Web" />
                <toolboxItem data="!Microsoft.Matrix.Packages.Web.Html.Elements.InputResetElement, Microsoft.Matrix.Packages.Web" />
                <toolboxItem data="!Microsoft.Matrix.Packages.Web.Html.Elements.InputImageElement, Microsoft.Matrix.Packages.Web" />
                <toolboxItem data="!Microsoft.Matrix.Packages.Web.Html.Elements.InputCheckboxElement, Microsoft.Matrix.Packages.Web" />
                <toolboxItem data="!Microsoft.Matrix.Packages.Web.Html.Elements.InputRadioElement, Microsoft.Matrix.Packages.Web" />
                <toolboxItem data="!Microsoft.Matrix.Packages.Web.Html.Elements.SelectElement, Microsoft.Matrix.Packages.Web" />
                <toolboxItem data="!Microsoft.Matrix.Packages.Web.Html.Elements.ListBoxElement, Microsoft.Matrix.Packages.Web" />
                <toolboxItem data="!Microsoft.Matrix.Packages.Web.Html.Elements.InputHiddenElement, Microsoft.Matrix.Packages.Web" />
                <toolboxItem data="!Microsoft.Matrix.Packages.Web.Html.Elements.InputFileElement, Microsoft.Matrix.Packages.Web" />
                <toolboxItem data="!Microsoft.Matrix.Packages.Web.Html.Elements.FieldSetElement, Microsoft.Matrix.Packages.Web" />
                <toolboxItem data="!Microsoft.Matrix.Packages.Web.Html.Elements.AnchorElement, Microsoft.Matrix.Packages.Web" />
                <toolboxItem data="!Microsoft.Matrix.Packages.Web.Html.Elements.ImageElement, Microsoft.Matrix.Packages.Web" />
                <toolboxItem data="!Microsoft.Matrix.Packages.Web.Html.Elements.TableElement, Microsoft.Matrix.Packages.Web" />
                <toolboxItem data="!Microsoft.Matrix.Packages.Web.Html.Elements.SpanElement, Microsoft.Matrix.Packages.Web" />
                <toolboxItem data="!Microsoft.Matrix.Packages.Web.Html.Elements.DivElement, Microsoft.Matrix.Packages.Web" />
                <toolboxItem data="!Microsoft.Matrix.Packages.Web.Html.Elements.PanelElement, Microsoft.Matrix.Packages.Web" />
                <toolboxItem data="!Microsoft.Matrix.Packages.Web.Html.Elements.IFrameElement, Microsoft.Matrix.Packages.Web" />
                <toolboxItem data="!Microsoft.Matrix.Packages.Web.Html.Elements.HorizontalRuleElement, Microsoft.Matrix.Packages.Web" />
                <toolboxItem data="!Microsoft.Matrix.Packages.Web.Html.Elements.FormElement, Microsoft.Matrix.Packages.Web" />
            </toolboxSection>
            <toolboxSection name="Web Controls" type="Microsoft.Matrix.Packages.Web.Designer.WebFormsToolboxSection,Microsoft.Matrix.Packages.Web">
                <toolboxItem data="System.Web.UI.WebControls.Label, System.Web" />
                <toolboxItem data="System.Web.UI.WebControls.Literal, System.Web" />
                <toolboxItem data="System.Web.UI.WebControls.HyperLink, System.Web" />
                <toolboxItem data="System.Web.UI.WebControls.TextBox, System.Web" />
                <toolboxItem data="System.Web.UI.WebControls.CheckBox, System.Web" />
                <toolboxItem data="System.Web.UI.WebControls.CheckBoxList, System.Web" />
                <toolboxItem data="System.Web.UI.WebControls.RadioButton, System.Web" />
                <toolboxItem data="System.Web.UI.WebControls.RadioButtonList, System.Web" />
                <toolboxItem data="System.Web.UI.WebControls.DropDownList, System.Web" />
                <toolboxItem data="System.Web.UI.WebControls.ListBox, System.Web" />
                <toolboxItem data="System.Web.UI.WebControls.Button, System.Web" />
                <toolboxItem data="System.Web.UI.WebControls.LinkButton, System.Web" />
                <toolboxItem data="System.Web.UI.WebControls.ImageButton, System.Web" />
                <toolboxItem data="System.Web.UI.WebControls.Image, System.Web" />
                <toolboxItem data="System.Web.UI.WebControls.AdRotator, System.Web" />
                <toolboxItem data="System.Web.UI.WebControls.Panel, System.Web" />
                <toolboxItem data="System.Web.UI.WebControls.PlaceHolder, System.Web" />
                <toolboxItem data="System.Web.UI.WebControls.Table, System.Web" />
                <toolboxItem data="System.Web.UI.WebControls.Calendar, System.Web" />
                <toolboxItem data="Microsoft.Matrix.Framework.Web.UI.SqlDataSourceControl, Microsoft.Matrix.Framework" />
                <toolboxItem data="Microsoft.Matrix.Framework.Web.UI.AccessDataSourceControl, Microsoft.Matrix.Framework" />
                <toolboxItem data="Microsoft.Matrix.Framework.Web.UI.MxDataGrid, Microsoft.Matrix.Framework" />
                <toolboxItem data="System.Web.UI.WebControls.DataGrid, System.Web" />
                <toolboxItem data="System.Web.UI.WebControls.DataList, System.Web" />
                <toolboxItem data="System.Web.UI.WebControls.Repeater, System.Web" />
                <toolboxItem data="System.Web.UI.WebControls.RequiredFieldValidator, System.Web" />
                <toolboxItem data="System.Web.UI.WebControls.CompareValidator, System.Web" />
                <toolboxItem data="System.Web.UI.WebControls.RegularExpressionValidator, System.Web" />
                <toolboxItem data="System.Web.UI.WebControls.RangeValidator, System.Web" />
                <toolboxItem data="System.Web.UI.WebControls.CustomValidator, System.Web" />
                <toolboxItem data="System.Web.UI.WebControls.ValidationSummary, System.Web" />
                <toolboxItem data="System.Web.UI.WebControls.Xml, System.Web" />
            </toolboxSection>
            <toolboxSection name="Mobile Controls" type="Microsoft.Matrix.Packages.Web.Mobile.MobileWebFormsToolboxSection,Microsoft.Matrix.Packages.Web.Mobile">
                <toolboxItem data="System.Web.UI.MobileControls.Form, System.Web.Mobile" />
                <toolboxItem data="System.Web.UI.MobileControls.Panel, System.Web.Mobile" />
                <toolboxItem data="System.Web.UI.MobileControls.Label, System.Web.Mobile" />
                <toolboxItem data="System.Web.UI.MobileControls.TextBox, System.Web.Mobile" />
                <toolboxItem data="System.Web.UI.MobileControls.TextView, System.Web.Mobile" />
                <toolboxItem data="System.Web.UI.MobileControls.Command, System.Web.Mobile" />
                <toolboxItem data="System.Web.UI.MobileControls.Link, System.Web.Mobile" />
                <toolboxItem data="System.Web.UI.MobileControls.PhoneCall, System.Web.Mobile" />
                <toolboxItem data="System.Web.UI.MobileControls.Image, System.Web.Mobile" />
                <toolboxItem data="System.Web.UI.MobileControls.List, System.Web.Mobile" />
                <toolboxItem data="System.Web.UI.MobileControls.SelectionList, System.Web.Mobile" />
                <toolboxItem data="System.Web.UI.MobileControls.ObjectList, System.Web.Mobile" />
                <toolboxItem data="System.Web.UI.MobileControls.StyleSheet, System.Web.Mobile" />
                <toolboxItem data="System.Web.UI.MobileControls.Calendar, System.Web.Mobile" />
                <toolboxItem data="System.Web.UI.MobileControls.AdRotator, System.Web.Mobile" />
                <toolboxItem data="System.Web.UI.MobileControls.RequiredFieldValidator, System.Web.Mobile" />
                <toolboxItem data="System.Web.UI.MobileControls.CompareValidator, System.Web.Mobile" />
                <toolboxItem data="System.Web.UI.MobileControls.RangeValidator, System.Web.Mobile" />
                <toolboxItem data="System.Web.UI.MobileControls.RegularExpressionValidator, System.Web.Mobile" />
                <toolboxItem data="System.Web.UI.MobileControls.CustomValidator, System.Web.Mobile" />
                <toolboxItem data="System.Web.UI.MobileControls.ValidationSummary, System.Web.Mobile" />
            </toolboxSection>
            <toolboxSection name="Custom Controls" type="Microsoft.Matrix.Packages.Web.Designer.CustomControlsToolboxSection,Microsoft.Matrix.Packages.Web" />
            <toolboxSection name="Code Wizards" type="Microsoft.Matrix.Core.Toolbox.CodeWizardToolboxSection, Microsoft.Matrix">
                <toolboxItem data="Microsoft.Matrix.Plugins.CodeWizards.Data.SelectCodeWizard, Microsoft.Matrix.Plugins.CodeWizards" />
                <toolboxItem data="Microsoft.Matrix.Plugins.CodeWizards.Data.InsertCodeWizard, Microsoft.Matrix.Plugins.CodeWizards" />
                <toolboxItem data="Microsoft.Matrix.Plugins.CodeWizards.Data.DeleteCodeWizard, Microsoft.Matrix.Plugins.CodeWizards" />
                <toolboxItem data="Microsoft.Matrix.Plugins.CodeWizards.Data.UpdateCodeWizard, Microsoft.Matrix.Plugins.CodeWizards" />
                <toolboxItem data="Microsoft.Matrix.Plugins.CodeWizards.Web.MailMessageCodeWizard, Microsoft.Matrix.Plugins.CodeWizards" />
            </toolboxSection>
            <toolboxSection name="My Snippets" type="Microsoft.Matrix.Core.Toolbox.SnippetToolboxSection, Microsoft.Matrix" />
        </toolbox>
        <addIns>
            <addIn name="WebService Proxy Generator" type="Microsoft.Matrix.AddIns.WebServiceClient.WebServiceClientAddIn, Microsoft.Matrix.AddIns.WebServiceClient" description="Generates client proxy classes and code from the WSDL description of a Web Service" />
            <addIn name="Db Foreign Key Editor" type="Microsoft.Matrix.AddIns.DbForeignKeyEditor.DbForeignKeyEditorAddIn, Microsoft.Matrix.AddIns.DbForeignKeyEditor" description="Creates and modifies foreign keys in tables." scope="Document" />
        </addIns>
        <webLinks>
            <webLink name="Help0" title=".NET Documentation" url="http://msdn.microsoft.com/net" />
            <webLink name="Help1" title="ASP.NET QuickStart Tutorials" url="http://www.asp.net/Tools/redir.aspx?path=quickstart" />
            <webLink name="Help2" title="ASP.NET Starter Kits" url="http://www.asp.net/starterkits" />
            <webLink name="Help3" title="ASP.NET Forums" url="http://www.asp.net/forums" />

            <webLink name="CommunityLink0" title="ASP.NET Web Matrix Online" url="http://www.asp.net/WebMatrix" />
            <webLink name="CommunityLink1" title="ASP.NET Web site" url="http://www.asp.net" />

            <webLink name="ResourceLink0" title="ASP.NET Books" url="http://www.asp.net/Tools/redir.aspx?path=books" />
            <webLink name="ResourceLink1" title="ASP.NET Web Hosting" url="http://www.asp.net/hosters" />

            <webLink name="MxForumLink0" title="General Discussions" url="http://www.asp.net/Forums/ShowForum.aspx?tabindex=1&amp;ForumID=30" />
            <webLink name="MxForumLink1" title="Bug Reports" url="http://www.asp.net/Forums/ShowForum.aspx?tabindex=1&amp;ForumID=31" />

            <webLink name="ForumLink0" title="Announcements" url="http://www.asp.net/Forums/ShowForum.aspx?tabindex=1&amp;ForumID=11" />
            <webLink name="ForumLink1" title="Getting Started" url="http://www.asp.net/Forums/ShowForum.aspx?tabindex=1&amp;ForumID=15" />
            <webLink name="ForumLink2" title="Web Forms" url="http://www.asp.net/Forums/ShowForum.aspx?tabindex=1&amp;ForumID=18" />
            <webLink name="ForumLink3" title="DataGrid, DataList, Repeater" url="http://www.asp.net/Forums/ShowForum.aspx?tabindex=1&amp;ForumID=24" />
            <webLink name="ForumLink4" title="Data Access" url="http://www.asp.net/Forums/ShowForum.aspx?tabindex=1&amp;ForumID=23" />
            <webLink name="ForumLink5" title="Security" url="http://www.asp.net/Forums/ShowForum.aspx?tabindex=1&amp;ForumID=25" />
            <webLink name="ForumLink6" title="Caching" url="http://www.asp.net/Forums/ShowForum.aspx?tabindex=1&amp;ForumID=21" />
            <webLink name="ForumLink7" title="Mobile" url="http://www.asp.net/Forums/ShowForum.aspx?tabindex=1&amp;ForumID=48" />
            <webLink name="ForumLink8" title="XML" url="http://www.asp.net/Forums/ShowForum.aspx?tabindex=1&amp;ForumID=43" />
            <webLink name="ForumLink9" title="XML Web Services" url="http://www.asp.net/Forums/ShowForum.aspx?tabindex=1&amp;ForumID=28" />

            <webLink name="RelatedLink0" title="ASP.NET on MSDN" url="http://msdn.microsoft.com/net/aspnet" />
            <webLink name="RelatedLink1" title=".NET on MSDN" url="http://msdn.microsoft.com/net" />
            <webLink name="RelatedLink2" title="ASP.NET IBuySpy Developer Solutions" url="http://www.asp.net/Tools/redir.aspx?path=ibuyspy" />
            <webLink name="RelatedLink3" title="www.GotDotNet.com" url="http://www.gotdotnet.com" />
            <webLink name="RelatedLink4" title="www.DotNetJunkies.com" url="http://www.dotnetjunkies.com" />
            <webLink name="RelatedLink5" title="www.ASPAlliance.com" url="http://www.aspalliance.com" />
            <webLink name="RelatedLink6" title="www.4GuysFromRolla.com" url="http://www.4guysfromrolla.com" />
            <webLink name="RelatedLink7" title="www.ASPFree.com" url="http://www.aspfree.com" />
            <webLink name="RelatedLink8" title="www.411ASP.NET" url="http://www.411asp.net" />
            <webLink name="RelatedLink9" title="www.123ASPX.com" url="http://www.123aspx.com" />

            <webLink name="ListservLink0" title="ASPAlliance Lists" url="http://www.aspalliance.com/lists" />

            <webLink name="NewsgroupLink0" title="dotnet.framework.aspnet" url="news://msnews.microsoft.com/microsoft.public.dotnet.framework.aspnet" />
            <webLink name="NewsgroupLink1" title="dotnet.framework.aspnet.webcontrols" url="news://msnews.microsoft.com/microsoft.public.dotnet.framework.aspnet.webcontrols" />
            <webLink name="NewsgroupLink2" title="dotnet.framework.aspnet.datagridcontrol" url="news://msnews.microsoft.com/microsoft.public.dotnet.framework.aspnet.datagridcontrol" />
            <webLink name="NewsgroupLink3" title="dotnet.framework.aspnet.mobile" url="news://msnews.microsoft.com/microsoft.public.dotnet.framework.aspnet.mobile" />
            <webLink name="NewsgroupLink4" title="dotnet.framework.aspnet.webservices" url="news://msnews.microsoft.com/microsoft.public.dotnet.framework.aspnet.webservices" />
            <webLink name="NewsgroupLink5" title="dotnet.framework.aspnet.security" url="news://msnews.microsoft.com/microsoft.public.dotnet.framework.aspnet.security" />
            <webLink name="NewsgroupLink6" title="dotnet.framework.aspnet.caching" url="news://msnews.microsoft.com/microsoft.public.dotnet.framework.aspnet.caching" />
            <webLink name="NewsgroupLink7" title="dotnet.framework.adonet" url="news://msnews.microsoft.com/microsoft.public.dotnet.framework.adonet" />
        </webLinks>
        <classView>
            <assembly name="mscorlib" displayName="mscorlib" />
            <assembly name="System" displayName="System" />
            <assembly name="System.Data" displayName="System.Data" />
            <assembly name="System.Drawing" displayName="System.Drawing" />
            <assembly name="System.Web" displayName="System.Web" />
            <assembly name="System.Web.Mobile" displayName="System.Web.Mobile" />
            <assembly name="System.Web.Services" displayName="System.Web.Services" />
            <assembly name="System.Xml" displayName="System.Xml" />
            <assembly name="Microsoft.Matrix.Framework" displayName="Microsoft.Matrix.Framework" />
            <group name="ASP.NET Page Intrinsics">
                <groupItem name="Application" type="System.Web.HttpApplicationState, System.Web" />
                <groupItem name="Cache" type="System.Web.Caching.Cache, System.Web" />
                <groupItem name="Page" type="System.Web.UI.Page, System.Web" />
                <groupItem name="Request" type="System.Web.HttpRequest, System.Web" />
                <groupItem name="Response" type="System.Web.HttpResponse, System.Web" />
                <groupItem name="Server" type="System.Web.HttpServerUtility, System.Web" />
                <groupItem name="Session" type="System.Web.SessionState.HttpSessionState, System.Web" />
                <groupItem name="User" type="System.Security.Principal.IPrincipal, mscorlib" />
            </group>
            <group name="ASP.NET Web Controls">
                <groupItem name="&lt;asp:Label&gt;" type="System.Web.UI.WebControls.Label, System.Web" />
                <groupItem name="&lt;asp:Literal&gt;" type="System.Web.UI.WebControls.Literal, System.Web" />
                <groupItem name="&lt;asp:HyperLink&gt;" type="System.Web.UI.WebControls.HyperLink, System.Web" />
                <groupItem name="&lt;asp:TextBox&gt;" type="System.Web.UI.WebControls.TextBox, System.Web" />
                <groupItem name="&lt;asp:CheckBox&gt;" type="System.Web.UI.WebControls.CheckBox, System.Web" />
                <groupItem name="&lt;asp:CheckBoxList&gt;" type="System.Web.UI.WebControls.CheckBoxList, System.Web" />
                <groupItem name="&lt;asp:RadioButton&gt;" type="System.Web.UI.WebControls.RadioButton, System.Web" />
                <groupItem name="&lt;asp:RadioButtonList&gt;" type="System.Web.UI.WebControls.RadioButtonList, System.Web" />
                <groupItem name="&lt;asp:DropDownList&gt;" type="System.Web.UI.WebControls.DropDownList, System.Web" />
                <groupItem name="&lt;asp:ListBox&gt;" type="System.Web.UI.WebControls.ListBox, System.Web" />
                <groupItem name="&lt;asp:Button&gt;" type="System.Web.UI.WebControls.Button, System.Web" />
                <groupItem name="&lt;asp:LinkButton&gt;" type="System.Web.UI.WebControls.LinkButton, System.Web" />
                <groupItem name="&lt;asp:ImageButton&gt;" type="System.Web.UI.WebControls.ImageButton, System.Web" />
                <groupItem name="&lt;asp:Image&gt;" type="System.Web.UI.WebControls.Image, System.Web" />
                <groupItem name="&lt;asp:AdRotator&gt;" type="System.Web.UI.WebControls.AdRotator, System.Web" />
                <groupItem name="&lt;asp:Panel&gt;" type="System.Web.UI.WebControls.Panel, System.Web" />
                <groupItem name="&lt;asp:PlaceHolder&gt;" type="System.Web.UI.WebControls.PlaceHolder, System.Web" />
                <groupItem name="&lt;asp:Table&gt;" type="System.Web.UI.WebControls.Table, System.Web" />
                <groupItem name="&lt;asp:Calendar&gt;" type="System.Web.UI.WebControls.Calendar, System.Web" />
                <groupItem name="&lt;asp:Repeater&gt;" type="System.Web.UI.WebControls.Repeater, System.Web" />
                <groupItem name="&lt;asp:DataList&gt;" type="System.Web.UI.WebControls.DataList, System.Web" />
                <groupItem name="&lt;asp:DataGrid&gt;" type="System.Web.UI.WebControls.DataGrid, System.Web" />
                <groupItem name="&lt;asp:RequiredFieldValidator&gt;" type="System.Web.UI.WebControls.RequiredFieldValidator, System.Web" />
                <groupItem name="&lt;asp:CompareValidator&gt;" type="System.Web.UI.WebControls.CompareValidator, System.Web" />
                <groupItem name="&lt;asp:RegularExpressionValidator&gt;" type="System.Web.UI.WebControls.RegularExpressionValidator, System.Web" />
                <groupItem name="&lt;asp:RangeValidator&gt;" type="System.Web.UI.WebControls.RangeValidator, System.Web" />
                <groupItem name="&lt;asp:CustomValidator&gt;" type="System.Web.UI.WebControls.CustomValidator, System.Web" />
                <groupItem name="&lt;asp:Xml&gt;" type="System.Web.UI.WebControls.Xml, System.Web" />
            </group>
            <group name="ASP.NET HTML Controls">
                <groupItem name="&lt;a&gt;" type="System.Web.UI.HtmlControls.HtmlAnchor, System.Web" />
                <groupItem name="&lt;form&gt;" type="System.Web.UI.HtmlControls.HtmlForm, System.Web" />
                <groupItem name="&lt;image&gt;" type="System.Web.UI.HtmlControls.HtmlImage, System.Web" />
                <groupItem name="&lt;input type=button&gt;" type="System.Web.UI.HtmlControls.HtmlInputButton, System.Web" />
                <groupItem name="&lt;input type=checkbox&gt;" type="System.Web.UI.HtmlControls.HtmlInputCheckBox, System.Web" />
                <groupItem name="&lt;input type=file&gt;" type="System.Web.UI.HtmlControls.HtmlInputFile, System.Web" />
                <groupItem name="&lt;input type=hidden&gt;" type="System.Web.UI.HtmlControls.HtmlInputHidden, System.Web" />
                <groupItem name="&lt;input type=image&gt;" type="System.Web.UI.HtmlControls.HtmlInputImage, System.Web" />
                <groupItem name="&lt;input type=radio&gt;" type="System.Web.UI.HtmlControls.HtmlInputRadioButton, System.Web" />
                <groupItem name="&lt;input type=submit&gt;" type="System.Web.UI.HtmlControls.HtmlInputButton, System.Web" />
                <groupItem name="&lt;input type=text&gt;" type="System.Web.UI.HtmlControls.HtmlInputText, System.Web" />
                <groupItem name="&lt;select&gt;" type="System.Web.UI.HtmlControls.HtmlSelect, System.Web" />
                <groupItem name="&lt;table&gt;" type="System.Web.UI.HtmlControls.HtmlTable, System.Web" />
                <groupItem name="&lt;textarea&gt;" type="System.Web.UI.HtmlControls.HtmlTextArea, System.Web" />
            </group>
            <group name="Common Web Classes">
                <groupItem name="Data: DataSet" type="System.Data.DataSet, System.Data" />
                <groupItem name="Data: DataView" type="System.Data.DataView, System.Data" />
                <groupItem name="Data: SqlCommand" type="System.Data.SqlClient.SqlCommand, System.Data" />
                <groupItem name="Data: SqlConnection" type="System.Data.SqlClient.SqlConnection, System.Data" />
                <groupItem name="Data: SqlDataAdapter" type="System.Data.SqlClient.SqlDataAdapter, System.Data" />
                <groupItem name="Data: SqlDataReader" type="System.Data.SqlClient.SqlDataReader, System.Data" />
                <groupItem name="Email: SmtpMail" type="System.Web.Mail.SmtpMail, System.Web" />
                <groupItem name="Email: MailMessage" type="System.Web.Mail.MailMessage, System.Web" />
                <groupItem name="File Access: File" type="System.IO.File, mscorlib" />
                <groupItem name="Network Access: WebClient" type="System.Net.WebClient, System" />
                <groupItem name="Regular Expressions: Regex" type="System.Text.RegularExpressions.Regex, System" />
                <groupItem name="XML: XmlDocument" type="System.Xml.XmlDocument, System.Xml" />
                <groupItem name="XML: XmlNode" type="System.Xml.XmlDocument, System.Xml" />
                <groupItem name="XML: XslTransform" type="System.Xml.Xsl.XslTransform, System.Xml" />
            </group>
        </classView>
        <dataObjectMappings>
            <dataObjectMapping fromDataFormat="MxDataTable" toDataFormat="HTML Format" type="Microsoft.Matrix.Packages.Web.UserInterface.DataTableDataObjectMapper, Microsoft.Matrix.Packages.Web" />
            <dataObjectMapping fromDataFormat="ProjectItem" toDataFormat="HTML Format" type="Microsoft.Matrix.Packages.Web.UserInterface.UserControlDataObjectMapper, Microsoft.Matrix.Packages.Web" />
            <dataObjectMapping fromDataFormat="ProjectItem" toDataFormat="Text" type="Microsoft.Matrix.Packages.Web.UserInterface.UserControlDataObjectMapper, Microsoft.Matrix.Packages.Web" />
            <dataObjectMapping fromDataFormat="TypeToolboxItem" toDataFormat="HTML Format" type="Microsoft.Matrix.Packages.Web.UserInterface.WebFormsToolboxDataObjectMapper, Microsoft.Matrix.Packages.Web" />
            <dataObjectMapping fromDataFormat="TypeToolboxItem" toDataFormat="Text" type="Microsoft.Matrix.Packages.Web.UserInterface.WebFormsToolboxDataObjectMapper, Microsoft.Matrix.Packages.Web" />
        </dataObjectMappings>
        <community>
            <add tab="Microsoft.Matrix.Packages.Community.UserInterface.HomeCommunityTab" data="ASP.NET Web Matrix Online and Discussion Lists|ASP.NET Online;CommunityLink|ASP.NET Resources;ResourceLink|Web Matrix Forums;MxForumLink|ASP.NET Forums;ForumLink|Newsgroups;NewsgroupLink" />
            <add tab="Microsoft.Matrix.Packages.Community.UserInterface.LinksCommunityTab" data="Related Links|Related Links and Sites;RelatedLink|Listservs;ListservLink" />
            <add tab="Microsoft.Matrix.Packages.Community.UserInterface.BuddyCommunityTab" data="My ASP.NET Contacts" />
        </community>
    </microsoft.matrix>
</configuration>
